/* ::::: http://officialdom2.ru/new/order-vang-moneygoroskop4/common.css ::::: */
audio:not([controls]) {
	display: none;
	height: 0px;
}

html {
	font-family: sans-serif;
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

a {
	background: transparent none repeat scroll 0% 0%;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0px none;
}

h1 {
	margin: 0px;
}

b,
strong {
	font-weight: 700;
}

img {
	border: 0px none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0px;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0px none;
	padding: 0px;
}

body {
	font-family: "Helvеtica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: none;
	font-size: 15px;
	line-height: 20px;
	background: rgb(211, 212, 223) none repeat scroll 0% 0%;
	color: rgb(51, 51, 51);
}

a {
	color: rgb(22, 141, 226);
	text-decoration: none;
}

.headline__logotype {
	height: 100%;
	line-height: 0;
	color: rgb(255, 255, 255);
	font-family: Verdana, Tahoma;
	font-size: 18px;
}

.headline__toolbar {
	height: 100%;
}

.headline__toolbar_left {
	float: left;
	margin-left: -10px;
}

.headline__toolbar_logotype {
	overflow: hidden;
	padding-top: 13px;
	padding-left: 10px;
}

.headline__wrap {
	max-width: 768px;
	margin: 0px auto;
	position: relative;
	padding: 0px 10px;
	box-sizing: border-box;
	height: 44px;
}

.headline__button__icon {
	margin: 12px 12px 11px 11px;
	width: 21px;
	height: 21px;
	background-size: cover;
	background-image: url('../img/head-iconbc019.png');
}

.headline {
	position: absolute;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	z-index: 1901;
	background: rgb(138, 43, 226) none repeat scroll 0% 0%;
	box-shadow: 0px 2px 0px 0px rgba(204, 204, 204, 0.5);
}

.headline_menu-open::after {
	display: none;
}

.wrapper {
	max-width: 768px;
	margin: 0px auto;
	position: relative;
	box-sizing: border-box;
}

.wrapper_content {
	background: rgb(230, 230, 230) none repeat scroll 0% 0%;
	padding: 0px 0px 1px;
	box-shadow: 0px 0px 0px 1px rgb(163, 167, 186);
	min-height: 100%;
}

.wrapper_page {
	overflow: hidden;
}

.hdr__back::before {
	content: "";
	width: 0px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.hdr__side::before {
	content: "";
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

.hdr_back .hdr__inner::after {
	content: "";
	display: inline-block;
	height: 1px;
	width: 39px;
	vertical-align: middle;
}

.hdr_icon .hdr__inner::after {
	content: none;
}

.cpf-operamini .hdr_icon_left .hdr__side::before {
	display: none;
}

.hdr_link .hdr__wrapper::after {
	background-image: url("../img/common__7upf76a0.png");
	background-repeat: no-repeat;
	background-position: -87px -65px;
	width: 9px;
	height: 13px;
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 10px;
	cursor: pointer;
}

@media not all,
(min--moz-device-pixel-ratio:1.5),
not all,
not all,
(min-resolution:138dpi),
(min-resolution:1.5dppx) {
	.hdr_link .hdr__wrapper::after {
		background-image: url("../img/common__7up%402x7ee6c.png");
		background-size: 100px 78px;
	}
}

.hdr_link_down .hdr__wrapper::after {
	transform: rotate(0.25turn);
}

.hdr_link_up .hdr__wrapper::after {
	transform: rotate(-0.25turn);
}

.hdr_link_left .hdr__wrapper::after {
	left: 15px;
}

.hdr_html .hdr__inner::after {
	content: none;
}

@media not all,
(min--moz-device-pixel-ratio:1.5),
not all,
not all,
(min-resolution:138dpi),
(min-resolution:1.5dppx) {}

.icon_favorite::before,
.icon_favorite::after {
	content: "";
	position: absolute;
	bottom: -3px;
	width: 8px;
	height: 8px;
	background: rgb(158, 162, 166) none repeat scroll 0% 0%;
}

.icon_favorite::before {
	transform: skew(0deg, -45deg);
	left: 0px;
	border-radius: 0px 0px 0px 2px;
}

.icon_favorite::after {
	right: 0px;
	transform: skew(0deg, 45deg);
	border-radius: 0px 0px 2px;
}

.icon_favorite_white,
.icon_favorite_white::before,
.icon_favorite_white::after {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.icon_favorite_orange,
.icon_favorite_orange::before,
.icon_favorite_orange::after {
	background: rgb(255, 169, 48) none repeat scroll 0% 0%;
}

@media not all,
(min--moz-device-pixel-ratio:1.5),
not all,
not all,
(min-resolution:138dpi),
(min-resolution:1.5dppx) {}

.item__side-icon::before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.photo {
	position: relative;
	overflow: hidden;
	display: block;
}

.photo__img {
	display: block;
	width: auto;
}

.select__box::after {
	background-image: url("../img/common__7upf76a0.png");
	background-repeat: no-repeat;
	background-position: -87px -65px;
	width: 9px;
	height: 13px;
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 10px;
	cursor: pointer;
	transform: rotate(90deg);
}

@media not all,
(min--moz-device-pixel-ratio:1.5),
not all,
not all,
(min-resolution:138dpi),
(min-resolution:1.5dppx) {
	.select__box::after {
		background-image: url("../img/common__7up%402x7ee6c.png");
		background-size: 100px 78px;
	}
}

@media not all,
(min--moz-device-pixel-ratio:1.5),
not all,
not all,
(min-resolution:138dpi),
(min-resolution:1.5dppx) {}

.input__select::before {
	content: "";
	position: absolute;
	left: -1px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	border-left: 1px solid rgb(240, 240, 240);
}

.button__loader::before {
	content: "";
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

.dots__real:checked+.dots__wrapper .dots__dot::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	left: 50%;
	margin-left: -5px;
	top: 100%;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	margin-top: 6px;
}

.p-article-separator::before {
	content: "";
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0px;
	height: 2px;
	background: rgb(211, 211, 211) none repeat scroll 0% 0%;
}

.article__item {
	margin: 10px 0px;
}

.article__item:first-child {
	margin-top: 0px;
}

.article__item:last-child {
	margin-bottom: 0px;
}

.article__item_embed_ratio .article__embed::before {
	content: "";
	display: block;
	width: 100%;
}

.article__item_embed_ratio[data-ratio="1:1"] .article__embed::before {
	padding-bottom: 100%;
}

.article__item_embed_ratio[data-ratio="3:2"] .article__embed::before {
	padding-bottom: 66.6667%;
}

.article__item_embed_ratio[data-ratio="4:3"] .article__embed::before {
	padding-bottom: 75.188%;
}

.article__item_embed_ratio[data-ratio="16:9"] .article__embed::before {
	padding-bottom: 56.1798%;
}

.article__item_embed_ratio[data-ratio="16:10"] .article__embed::before {
	padding-bottom: 62.5%;
}

.article__item_source_coub .article__embed::before,
.article__item_source_vimeo .article__embed::before,
.article__item_source_vine .article__embed::before,
.article__item_source_vk_video .article__embed::before,
.article__item_source_youtube .article__embed::before,
.article__item_source_my_video .article__embed::before {
	content: "";
	display: block;
	width: 100%;
	padding-bottom: 56.25%;
}

.article__item_source_vine::before {
	padding-bottom: 100%;
}

.article-divider__inner::before,
.article-divider__inner::after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background: rgb(222, 222, 222) none repeat scroll 0% 0%;
	width: 5000px;
}

.article-divider__inner::before {
	right: 100%;
}

.article-divider__inner::after {
	left: 100%;
}

.article {
	padding: 55px 10px 25px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border-bottom: 1px solid rgb(199, 199, 199);
}

.article__title {
	font-weight: normal;
	text-transform: none;
	font-size: 15px;
	line-height: 25px;
}

.article__text {
	margin-top: 10px;
	font-weight: normal;
	text-transform: none;
	font-size: 17px;
	line-height: 24px;
}

.article__text:first-child {
	margin-top: 0px;
}

.article__item_html p {
	margin: 10px 0px 0px;
}

.article__item_html p:first-child,
.article__item_html h2:first-child,
.article__item_html h3:first-child,
.article__item_html h4:first-child,
.article__item_html h5:first-child,
.article__item_html h6:first-child,
.article__item_html img:first-child,
.article__item_html ol:first-child,
.article__item_html ul:first-child,
.article__item_html li:first-child {
	margin-top: 0px;
}

.article__item_html p:last-child,
.article__item_html h2:last-child,
.article__item_html h3:last-child,
.article__item_html h4:last-child,
.article__item_html h5:last-child,
.article__item_html h6:last-child,
.article__item_html img:last-child,
.article__item_html ol:last-child,
.article__item_html ul:last-child,
.article__item_html li:last-child {
	margin-bottom: 0px;
}

.button_wide button,
.flat_button.button_wide {
	padding-left: 10px;
	padding-right: 10px;
}

.quick_login_button {
	margin-top: 2px;
}

.button_wide {
	display: block;
}

.button_blue button,
.button_gray button,
.button_light_gray button,
.flat_button {
	padding: 7px 16px 8px;
	margin: 0px;
	font-size: 26px;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	outline: medium none;
	font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
	vertical-align: top;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background: rgb(0, 100, 0) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	border: 0px none;
	border-radius: 2px;
	box-sizing: border-box;
}

.country_select,
.form input,
.form select {
	display: block;
	width: 80%;
	font-size: 18px;
	color: rgb(97, 97, 97);
	padding: 10px 20px;
	margin-bottom: 5px;
}

.article__item_html img {
	max-width: 100%;
	display: block;
	margin: 10px 0px 0px;
	float: none !important;
}

.vk-container {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.vk-header {
	background: rgb(218, 226, 232) none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
}

.vk-avatar img {
	float: left;
	margin-right: 10px;
}

.vk-comment,
.vk-comment-load {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid rgb(218, 225, 232);
	padding-bottom: 15px;
}

.vk-comment:last-child {
	border-bottom: 0px none;
}

.vk-comment-name {
	color: rgb(43, 88, 122);
	font-weight: bold;
	font-size: 15px;
}

.vk-comment-text {
	margin-left: 60px;
}

.vk-comment-date {
	margin-left: 60px;
	color: rgb(153, 153, 153);
}

.price {
	margin: 20px 0;
}

.box-3__text {
	font-weight: bold;
	font-size: 20px;
	font-weight: 200;
	color: #269aff;
	line-height: 1.3em;
}

.step-2,
.step-3 {
	display: none;
}

.errField {
	display: none;
	font-size: 14px;
	background: #f00;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

.errorMessage {
	font-size: 11px;
	background: rgba(255, 0, 0, 0.64);
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	position: absolute;
	margin: 14px 0 0;
}

.errorMessage {
	box-sizing: border-box;
	position: absolute;
	z-index: 100000;
	font-size: 13px;
	background: #DC3434;
	color: #fff;
	margin-top: 20px;
	text-align: center;
	line-height: 13px;
	padding: 8px 12px;
}

.copyright {
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
	color: #6C6E6F;
}

.copyright p {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.copyright br {
	display: none;
}

.copyright img {
	margin: 10px auto !important;
}

.copyright img:first-child {
	display: block !important;
}

.copyright a {
	color: #6C6E6F;
	text-decoration: none;
}

.copyright a:hover {
	color: #FF0069;
	text-decoration: none;
}

.country_select {
	-webkit-appearance: none !important;
}